<div class="vertical-center">
<div class="jumbotron">
<h1>{{this.weather.city}}</h1>
<h2>{{this.weather.description}}</h2>
<h3>Current: {{this.display.temp}}</h3>
<h3>High: {{this.display.temp_max}} | Low: {{this.display.temp_min}}</h3>
<h3>Wind Speed: {{this.display.wind}}</h3>
<h3>Sunrise: {{this.weather.sunrise}} Sunset: {{this.weather.sunset}}</h3>
<hr />
<a (click)="setAmerican()" class="btn btn-primary btn-lg" role="button">American</a>
<a (click)="setEuropean()" class="btn btn-primary btn-lg" role="button">European</a>
<a (click)="setScientist()" class="btn btn-primary btn-lg" role="button">Scientist</a>
</div>
</div>
